@import "tailwindcss";

@theme {
  --font-default: inter, Poppins;
  --color-primary-green: #39b3a6;
  --color-primary-blue: #123c56;
  --color-primary-yellow: #ffa000;
  --color-primary-white: #e6eae5;
  --text-title: 20px;
}

@layer components {
  .input-base {
    @apply w-full h-[44px] px-4 rounded-[12px] bg-white text-gray-900 text-sm shadow-md transition duration-300 focus:ring-2 focus:ring-primary-green focus:border-primary-green outline-none;
  }

  .button-primary {
    @apply w-full rounded-[12px] bg-primary-blue text-white py-2 font-semibold hover:opacity-90 transition duration-300;
  }

  .label-base {
    @apply block text-white text-[16px] mb-1 font-medium;
  }

  .button-base {
    @apply w-full rounded-[12px] bg-[#0F2C44] text-white py-2 font-semibold hover:opacity-90 transition duration-300;
  }

  .link-base {
    @apply text-sm text-primary-white hover:underline;
  }

  .title-auth {
    @apply mb-6 text-xl lg:text-2xl text-primary-white font-bold;
  }

  .auth-wrapper {
    @apply w-full px-8 max-w-md;
  }

  .logo-wrapper {
    @apply flex items-center gap-4 mb-8;
  }

  .form-space {
    @apply space-y-4;
  }
}

body,
html {
  font-family: var(--font-default);
}
