<div class="flex min-h-screen">
  <app-side-bar></app-side-bar>

  <!-- Conteúdo -->
  <div class="flex-1 flex flex-col">

    <!-- Navbar -->
    <header class="fixed mt-2 top-0 left-0 w-full h-[80px] z-40 flex items-center justify-between pr-[40px] pl-[100px]">
      <span class="title">Bem-vindo, Robson!</span>
      <div class="flex items-center gap-4">
        <button class="hover:text-green-600" aria-label="Configurações">⚙️</button>
        <button class="hover:text-green-600" aria-label="Usuário">👤</button>
      </div>
    </header>

    <!-- Conteúdo principal -->
    <main class="mt-16 pr-[40px] pl-[100px]">
      <ng-content></ng-content>
    </main>

  </div>
</div>
