<div class="h-screen flex font-sans">

  <!-- Banner Lateral Esquerda -->
  <div class="bg-primary-white w-[60%] h-full  flex items-center justify-center">
    <div class="text-center w-full h-full flex items-center justify-center">
      <img src="assets/imgs/logo-banner.png" alt="Logo SVet" class="max-w-full max-h-full object-contain" />
    </div>
  </div>

  <!-- Formulário de Login à Direita -->
  <div class="w-[40%] h-full bg-primary-green flex items-center justify-center">
    <div class="bg-primary-green text-white w-full max-w-md px-8">
      <div class="flex items-center gap-2 mb-8">
        <img src="assets/imgs/logo.png" alt="Ícone SVet" class="w-10 mb-1" />
        <h2 class="titulo">Clínica Svet</h2>
      </div>

      <div>
        <p class="mt-2 text-lg">Bem-vindo,<br />Faça seu login.</p>
      </div>

      <form class="space-y-4">
        <div>
          <label for="nome" class="block text-sm font-medium">Nome</label>
          <input id="nome" type="text" class="w-full mt-1 px-4 py-2 rounded bg-white text-gray-900 outline-none" />
        </div>

        <div>
          <label for="email" class="block text-sm font-medium">Email</label>
          <input id="email" type="email" class="w-full mt-1 px-4 py-2 rounded bg-white text-gray-900 outline-none" />
          <div class="text-sm mt-1 text-right">
            <a href="#" class="text-white/80 hover:underline">Esqueceu a senha?</a>
          </div>
        </div>

        <button type="submit" class="w-full bg-[#0F2C44] text-white py-2 rounded font-semibold hover:opacity-90">
          Logar
        </button>

        <p class="text-sm text-center mt-4">
          Ainda não tem login? <a href="#" class="font-semibold underline">Cadastre aqui</a>
        </p>
      </form>

      <footer class="mt-8 text-xs text-white/80 text-center">
        Todos direitos reservados © SVet 2025
      </footer>
    </div>
  </div>
</div>
